.img1{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/category2_2_750x960_crop_center.jpg?v=1647002298");
}
.img2{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/4_750x960_crop_center.jpg?v=1648644073");
}
.img3{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/9_750x960_crop_center.jpg?v=1648644094");
}
.img4{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/5_750x960_crop_center.jpg?v=1648644109");
}
.img5{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/6_750x960_crop_center.jpg?v=1648644124");
}
.img6{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/72_750x960_crop_center.jpg?v=1648644751");
}
.img7{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/2_750x960_crop_center.jpg?v=1648643965");
}
.img8{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/category2_1_750x960_crop_center.jpg?v=1647002270");
}
.img9{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/category5_750x960_crop_center.jpg?v=1647002717");
}
.img10{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/11_750x960_crop_center.jpg?v=1648644241");
}
.img11{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/categories_1_750x960_crop_center.jpg?v=1648644036");
}
.img12{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/3_750x960_crop_center.jpg?v=1648644052");
}
.img13{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/Untitled_document_1_1_750x960_crop_center.jpg?v=1664893630");
}
.img14{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/categories_11_750x960_crop_center.png?v=1648644271");
}
.img15{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/categories_22_750x960_crop_center.png?v=1648644256");
}
.img16{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/Untitled_document_6_-page-001_750x960_crop_center.jpg?v=1665418394");
}
.img17{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/Untitled_document_4_750x960_crop_center.jpg?v=1666754844");
}
.img18{
    background-image: url("https://cdn.shopify.com/s/files/1/0630/5520/0511/files/categories_1_750x960_crop_center.jpg?v=1648644036");
}
